/* src/pages/Home.css */
.home-container {
  padding: 10px 335px;
  text-align: center;
  margin-top: -235px; 
}

.cta-button {
  padding: 10px 20px;
  background-color: #42c148;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #38943d;
}
