.recipe-container {
  max-width: 1200px;
  margin: auto;
  padding: 80px 20px; 
  text-align: center;
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe-card {
  position: relative;
  flex: 0 0 calc(33.33% - 90px);
  margin: 20px;
  padding: 10px;
  border: 1px solid #37376c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recipe-title {
  color: #c8133a;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.recipe-title h3 {
  margin: 0;
}

.recipe-title span {
  margin-left: auto; 
  cursor: pointer;
}

.recipe-title span:hover {
  color: #ff3366;
}

.read-more-button {
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.read-more-button:hover {
  transform: scale(1.2);
}

.ingredients-container {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.ingredients-container.expanded {
  max-height: none;
}

.recipe-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.recipe-details p {
  margin: 5px 0;
  color: #dbaf00;
}

.recipe-details .category {
  color: #d5bc26;
  text-transform: capitalize;
}

.recipe-details .area {
  color: #b5a642;
  text-transform: capitalize;
}

.recipe-details .ingredients {
  color: #aaaa00;
  flex-grow: 1;
}

.recipe-details button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.recipe-details button:hover {
  background-color: transparent;
}

h2 {
  color: #ff4f36;
}
