/* src/components/Navbar.css */
.navbar {
  display: flex;
  background-color: #f8f9fa;
  padding: 10px;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Set z-index to ensure Navbar is above other elements */
}

.navbar a {
  text-decoration: none;
  color: #495057;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #007bff;
}
