.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fafafa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar .brand {
  font-size: 2rem;
  font-weight: 700;
  color: #444;
  text-decoration: none;
}

.navbar .links {
  display: flex;
  align-items: center;
}

.navbar .links a {
  color: #444;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  margin-left: 2.5rem;
}

.navbar .links a:hover {
  text-decoration: underline;
}

.navbar .toggle-button {
  color: #444;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 991.98px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle-button {
    display: block;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-toggler-icon {
    display: none;
  }
}