.recipes {
  padding: 20px;
}

.recipe {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.recipe h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.recipe p {
  margin-bottom: 0;
}